/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        macros {
                macro_output_a_tilde: macro_output_a_tilde {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LS(GRAVE)> // SHIFT + GRAVE = ~
                                , <&macro_tap &kp A>
                                ;
                };

                macro_output_o_tilde: macro_output_o_tilde {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LS(GRAVE)> // SHIFT + GRAVE = ~
                                , <&macro_tap &kp O>
                                ;
                };

                macro_output_n_tilde: macro_output_n_tilde {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LS(GRAVE)> // SHIFT + GRAVE = ~
                                , <&macro_tap &kp N>
                                ;
                };
        };

        combos {
                compatible = "zmk,combos";

                combo_a_semicolon {
                        timeout-ms = <50>;
                        layers = <0>;  // Restricting to the first layer (mac_base_layer)
                        key-positions = <13 22>; // a + ;
                        bindings = <&macro_output_a_tilde>;
                };

                combo_o_semicolon {
                        timeout-ms = <50>;
                        layers = <0>;  // Restricting to the first layer (mac_base_layer)
                        key-positions = <9 22>; // o + ;
                        bindings = <&macro_output_o_tilde>;
                };

                combo_n_semicolon {
                        timeout-ms = <50>;
                        layers = <0>;  // Restricting to the first layer (mac_base_layer)
                        key-positions = <30 22>; // n + ;
                        bindings = <&macro_output_n_tilde>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                mac_base_layer {
//      |-----------------------------------------------------------------------------------------------------------------------------|
//      |    ESC   |    Q    |    W    |    E     |    R     |    T     |   =   |  Y  |     U     |    I    |    O    |    P   | BKSP |
//      |-----------------------------------------------------------------------------------------------------------------------------|
//      |    TAB   |  A+CMD  |  S+OPT  |  D+CTRL  |  F+SHFT  |    G     |   =   |  H  |   J+SHFT  |  K+CTRL |  L+OPT  |  ;+CMD |  '   |
//      |-----------------------------------------------------------------------------------------------------------------------------|
//      |   GRAVE  |    Z    |    X    |     C    |    V     |    B     |   =   |  N  |     M     |    ,    |    .    |    /   |  \   |
//      |-----------------------------------------------------------------------------------------------------------------------------|
//                                     |     (    |    [     |  - + L1  |   =   | ENT |     =     |   SPC   |
//                                     |--------------------------------------------------------------------|

                        bindings = <
   &kp ESC     &kp Q       &kp W       &kp E        &kp R         &kp T           &kp Y     &kp U         &kp I         &kp O        &kp P          &kp BSPC
   &kp TAB     &mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F   &kp G           &kp H     &mt RSHFT J   &mt RCTRL K   &mt RALT L   &mt RGUI SEMI  &kp SQT
   &kp GRAVE   &kp Z       &kp X       &kp C        &kp V         &kp B           &kp N     &kp M         &kp COMMA     &kp DOT      &kp FSLH       &kp BACKSLASH
                                       &kp LPAR     &kp LBKT      &lt 1 MINUS     &kp RET   &kp EQUAL     &kp SPACE
                        >;
                };

                number_and_symbols_layer {
//      |----------------------------------------------------------------------------------------|
//      | BT_RS_LY |  <   |   v  |  ^   |  >   |     |   =   |     |  7  |  8  |  9  |  -  |  =  |
//      |----------------------------------------------------------------------------------------|
//      |          |  CMD |  OPT | CTRL | SHFT |     |   =   |     |  4  |  5  |  6  |  [  |  ]  |
//      |----------------------------------------------------------------------------------------|
//      |          |      |      |      |      |     |   =   |     |  1  |  2  |  3  |  (  |  )  |
//      |----------------------------------------------------------------------------------------|
//                               |      |  RST |     |   =   |     | RST |  0  |
//                               |---------------------------------------------|

                        bindings = <
   &to 2     &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT    &trans      &trans  &kp N7       &kp N8   &kp N9   &kp MINUS &kp EQUAL
   &trans     &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT    &trans      &trans  &kp N4       &kp N5   &kp N6   &kp LBKT  &kp RBKT
   &kp LSHFT  &trans    &trans    &trans     &trans       &trans      &trans  &kp N1       &kp N2   &kp N3   &kp LPAR  &kp RPAR
                                  &trans     &bootloader  &trans      &trans  &bootloader  &kp N0
                        >;
                };

                bluetooth_and_reset_layer {
//      |--------------------------------------------------------------------------------------|
//      |        |     |     |       |     |     |   =   |     |     |     |     |     | BS_LY |
//      |--------------------------------------------------------------------------------------|
//      | BT_CLR | BT0 | BT1 |  BT2  | BT3 | BT4 |   =   |     |     |     |     |     |       |
//      |--------------------------------------------------------------------------------------|
//      |        |     |     |       |     |     |   =   |     |     |     |     |     |       |
//      |--------------------------------------------------------------------------------------|
//                           | BS_LY |     |     |   =   |     |     |     |
//                           |---------------------------------------------|
                        bindings = <
   &trans     &trans       &trans       &trans        &trans        &trans         &trans   &trans   &trans   &trans   &trans  &to 0
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &trans   &trans   &trans   &trans   &trans  &trans
   &kp LSHFT  &trans       &kp LEFT     &kp DOWN      &kp RIGHT     &trans         &trans   &trans   &trans   &trans   &trans  &trans
                                        &to 0        &trans        &trans         &trans   &trans   &trans

                        >;
                };
        };
};
