/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                mac_base_layer {
//      |------------------------------------------------------------------------------------------------------------------------------|
//      |ESC+GRAVE |    Q     |    W    |    E     |    R     |    T     |   =   |  Y  |     U     |    I    |    O    |    P   | BKSP |
//      |------------------------------------------------------------------------------------------------------------------------------|
//      |    TAB   |  A+SHFT  |  S+CTRL |  D+OPT   |  F+CMD   |    G     |   =   |  H  |  J+CMD    |  K+OPT  |  L+CTRL | ;+SHFT |  '   |
//      |------------------------------------------------------------------------------------------------------------------------------|
//      |   SHFT   |    Z     |    X    |     C    |     V    |    B     |   =   |  N  |     M     |    ,    |    .    |    /   |  \   |
//      |------------------------------------------------------------------------------------------------------------------------------|
//                                      |   GUI    |    SPC   | NB_SY_LY |   =   | ENT |   RSE     |   ALT   |
//                                      |--------------------------------------------------------------------|

                        bindings = <
   &mt GRAVE ESC &kp Q       &kp W       &kp E       &kp R       &kp T      &kp Y   &kp U       &kp I           &kp O        &kp P          &kp BSPC
   &kp TAB       &mt LSHFT A &mt LCTRL S &mt LALT  D &mt LGUI F  &kp G      &kp H   &mt RGUI J  &mt RALT  K     &mt RCTRL L  &mt RSHFT SEMI &kp SQT
   &kp LSHFT     &kp Z       &kp X       &kp C       &kp V       &kp B      &kp N   &kp M       &kp COMMA       &kp DOT      &kp FSLH       &kp BACKSLASH
                                         &kp LGUI    &kp SPACE   &mo 1      &kp RET &mo 2       &kp RALT
                        >;
                };

                number_and_symbols_layer {
//      |--------------------------------------------------------------------------------------|
//      | BT_RS_LY |      |      |     |     |     |   =   |     |  7  |  8  |  9  |  -  |  =  |
//      |--------------------------------------------------------------------------------------|
//      |          | SHFT | CTRL |  ^  | CMD |     |   =   |     |  4  |  5  |  6  |  [  |  ]  |
//      |--------------------------------------------------------------------------------------|
//      |          |      |  <   |  v  |  >  |     |   =   |     |  1  |  2  |  3  |  (  |  )  |
//      |--------------------------------------------------------------------------------------|
//                               |     |     |     |   =   |     |  0  |     |
//                               |-------------------------------------------|

                        bindings = <
   &tog 2     &trans    &trans    &trans   &trans     &trans         &trans   &kp N7   &kp N8   &kp N9     &kp MINUS &kp EQUAL
   &trans     &kp LSHFT &kp LCTRL &kp UP   &kp LGUI   &trans         &trans   &kp N4   &kp N5   &kp N6     &kp LBKT  &kp RBKT
   &kp LSHFT  &trans    &kp LEFT  &kp DOWN &kp RIGHT  &trans         &trans   &kp N1   &kp N2   &kp N3     &kp LPAR  &kp RPAR
                                  &trans   &trans     &trans         &trans   &kp N0   &trans
                        >;
                };


                bluetooth_and_reset_layer {
//      |------------------------------------------------------------------------------------|
//      |        |     |     |     |     |     |   =   |     |     |     |     |     | BS_LY |
//      |------------------------------------------------------------------------------------|
//      | BT_CLR | BT0 | BT1 | BT2 | BT3 | BT4 |   =   |     |     |     |     |     |       |
//      |------------------------------------------------------------------------------------|
//      |        |     |     |     |     |     |   =   |     |     |     |     |     |       |
//      |------------------------------------------------------------------------------------|
//                           |     |     |     |   =   |     |     |     |
//                           |-------------------------------------------|
                        bindings = <
   &trans     &trans       &trans       &trans        &trans        &trans         &trans   &trans   &trans   &trans   &trans  &trans
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &trans   &trans   &trans   &trans   &trans  &trans
   &kp LSHFT  &trans       &kp LEFT     &kp DOWN      &kp RIGHT     &trans         &trans   &trans   &trans   &trans   &trans  &trans
                                        &trans        &trans        &trans         &trans   &trans   &trans

                        >;
                };
        };
};